.btn-set-width {
    width: 50%;
    margin: auto;
}

.card-set-width {
    width: 23.74rem;
}

.switch-align {
    float: right !important;
    right: 10% !important;
}

.loadingGIF {
    align-content: center;
}